<UiNav/>

<div class='p-4'>
  <BgrBreadcrumbs
    class='list-reset flex'
    @itemClassName='breadcrumb-item mr-1'
    @linkClassName='no-underline'/>

  {{outlet}}
</div>

<NotificationContainer @position='top-right'/>