<div class='mt-4'>
  {{#link-to 'project.layers.new' projectId class='bg-indigo-dark text-indigo-lightest shadow-md hover:shadow-lg rounded p-4 inline-block'}}
    Add New Layer
  {{/link-to}}
</div>

<ul class='card-grid mt-4'>
  {{#each this.layers as |layer|}}
    <li>
      {{#link-to 'project.layer' layer.id
        class='bg-white text-indigo-dark shadow-md hover:shadow-lg rounded p-4 block'
      }}
        {{layer.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>