<ul class='list-reset'>
  {{#each this.model as |visualization|}}
    <li>
      {{#link-to 'visualization.index' visualization.id}}
        {{visualization.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>